* {
    border: none;
    margin: 0;
    outline: none;
    padding: 0;
}

img {
    display: block;

    pointer-events: none;
    user-select: none;
}

:root {
    --yellow: #FFC93D;
    --black: #000000;
    --white: #ffffff;
    --link-color: #0058B4;
    --grey: #999999;

    --font-family: -apple-system, system-ui, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.main {
    padding-top: 50vh;

    transform: translateY(-25%);
}

.container {
    margin: 0 auto;
    max-width: 881px;
    width: 100%;
}

.h2-title {
    font-family: var(--font-family);
    font-size: 24px;

    color: var(--black);
}

.p-text {
    font-family: var(--font-family);
    font-size: 16px;

    color: var(--black);
}

.a-link {
    font-family: var(--font-family);
    font-size: 1em;

    color: var(--link-color);

    text-decoration: none;
}


.header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__logo {
    width: 96px;
}


.search-form {
    display: flex;
    width: 100%;

    font-family: var(--font-family);
}

.search-form__input {
    padding: 13px 0 13px 12px;
    width: 100%;

    font-size: 18px;

    background: none;
    border: 2px solid var(--yellow);
    border-radius: 12px 0 0 12px;
}

.search-form__input::placeholder {
    font-size: 18px;

    color: var(--grey);
}

.search-form__btn {
    padding: 12px 19px;

    font-size: 18px;

    background-color: var(--yellow);
    border-radius: 0 12px 12px 0;
    color: var(--black);

    cursor: pointer;
}


.not-found {
    display: inline-flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 117px;
    margin: 29px 0 44px 0;
}


.services {
    padding-left: 118px;
}

.services__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 13px 20px;

    list-style-type: none;
}

.services__item {
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 320px;

    overflow-wrap: break-word;
}

.services__icon {
    height: 16px;
    width: 16px;
}


.footer {
    padding-bottom: 23px;
}

.footer .container {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
}

.footer__item {
    text-decoration: none;

    color: var(--grey);
}