.wrapper {
    align-self: baseline;
    width: 100%;
    max-width: 285px;
    min-height: 659px;
    padding: 20px;

    background-color: #FFFFFF;
    border-radius: 8px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0;

    list-style: none;
}

span.skeleton {
    display: flex;
    gap: 24px;
}

.skeleton {
    height: 22px;
}
