.item {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px;

    background: #FFFFFF;
    border-radius: 8px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}