.header {
    padding: 20px 0 20px;

    background: #000000;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.title {
    font-family: var(--open-sans-bold);
    font-size: 20px;
    line-height: 27px;

    color: #FFFFFF;
}

.cartBtn {
    display: flex;
    align-items: center;
}